article table.WarningBox {
  color: black;
  background: rgb(255, 192, 0);
  border: solid 2px rgb(191, 143, 0);
  border-collapse: collapse;
  width: 100%;
}

article table.WarningBox tr td {
  border: none;
  padding: 15px 30px;
}